* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

div#calculator {
    height: 735px;
    width: 450px;
    background-color: #212121;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 30px;
    gap: 40px  ;
}
div#screen {
    background-color: #3B3B3B;
    width: 100%;
    height: 22%;
    border-radius: 20px;
}
div#buttons {
    /* background-color: red; */
    width: 100%;
    height: 60%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
#calculator button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 36px;
    font-family: monospace;
    font-weight: 500;
    background-color: #616161;
    color: white;
    appearance: none;
    border: none;
    transition: all .15s ease-in-out;
}
#calculator #equal {
    width: 197px;
    height: 90px;
    border-radius: 3rem;
}
#calculator button:hover {
    background-color: #bdbdbd;
    color: #212121;
    transform: translateY(-0.2rem);
}

#calculator #all-clear:hover, #calculator #clear:hover {
    background-color: #ff8888;
}

#calculator .op:hover {
    background-color: #93dadf;
}

#calculator #equal:hover {
    background-color: #74fc7fd3;
}









