* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

div#calculator {
    height: 735px;
    width: 450px;
    background-color: #212121;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 30px;
    gap: 40px  ;
}
div#screen {
    background-color: #3B3B3B;
    width: 100%;
    height: 22%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 8px;
}
div#buttons {
    /* background-color: red; */
    width: 100%;
    height: 60%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 36px;
    font-family: monospace;
    font-weight: 500;
    background-color: #616161;
    color: white;
    appearance: none;
    border: none;
    transition: all .15s ease-in-out;
}
#calculator #equal {
    width: 197px;
    height: 90px;
    border-radius: 3rem;
}
#calculator button:hover {
    background-color: #bdbdbd;
    color: #212121;
    transform: translateY(-0.2rem);
}

#calculator #clear:hover, #calculator #invert-sign:hover {
    background-color: #ff8888;
}

#calculator #invert-sign {
    font-family: sans-serif;
}

#calculator .op:hover , .selected-op {
    background-color: #93dadf;
}

#calculator #equal:hover {
    background-color: #74fc7fd3;
}

#workout, #result {
    text-align: right;
    width: 100%;
}

div#workout {
    color: rgb(98, 180, 98);
    height: 45%;
    font-family: "DS-Digital";
    font-size: 46px;
    letter-spacing: 5px;
    /* background-color: rgb(255, 3, 3); */
}
div#result {
    color: white;
    height: 40%;
    font-size: 49px;
    font-weight: 500;
    font-family: sans-serif;
    /* background-color: magenta; */
}









